.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}


.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    gap: 32px;
}


.hidden {
    display: none;
}

.no-shrink {
    flex-shrink: 0;
}

.overflowX-0 {
    overflow-x: hidden;
}